@import './_variables.scss';

/* selectGame.html */

.selectGame_container {
    position: absolute;
    top: 43%;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 53%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4.3rem;
}
.selectGame {
    width: 57%;
    height: 100%;
    padding-top: 1rem;
    overflow-y: scroll;
}
.selectGame_list_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & li {
        position: relative;
        width: calc(100% / 3 );
        padding: 3px;

        &:hover::after {
            content: '';
            position: absolute;top: 50%;left: 50%;
            display: block;
            width: 0;
            height: 0;
            box-shadow: 0px 0px 16px 23px rgb(255 183 91);
            opacity: 0.5;
            mix-blend-mode: screen;
        }
    }
}

/* SelectMachine.html */

.selectMachine_container {
    position: absolute;top: 0;left: 0;
    z-index: 1000;
    width: 100%;height: 100%;
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
}
.selectMachine_top {
    width: 58%;
    height: 66%;
    overflow-y: scroll;
    padding: 1rem 0;
}
.selectMachine_top_list_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:flex-start;

    & li {
        width: calc(100% / 3.5);
        border-radius: 8px;
        border: 1px solid white;
        margin: 5px 5px;
        
        & a {
            & img {
                aspect-ratio: 1/1;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
}
.selectMachine_game_sub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & h2 {
        -webkit-text-stroke: 0.3px black; /* Safari 和 Chrome */
        color: $text-color-yellow;
        font-size: 0.9rem;
        font-weight: 600;
    }
    & p {
        -webkit-text-stroke: 0.3px black; /* Safari 和 Chrome */
        color: $text-color-white;
        font-size: 0.9rem;
        font-weight: 600;
    }
    & p:nth-child(1) {
        visibility:  hidden;
    }
}
.selectMachine_top_list_container li.active .selectMachine_game_sub_state {
    visibility: visible;
}
.selectMachine_top_list_container li.active .selectMachine_game_sub {
    background-color: rgba(0,0,0,0.6);
    border-radius: 8px;
}


.selectMachine_bottom {
    position: absolute;
    bottom: 2.2rem;
    width: 100%;
    place-items: center;
}
.selectMachine_bottom_lsit_container {
    display: flex;
    width: 67%;
    justify-content: space-evenly;

    & li {
        position: relative;
        &:hover {
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 50%;
                height: 0;
                box-shadow: 0px 0px 13px 13px rgb(255, 183, 91);
                opacity: 0.5;
                mix-blend-mode: screen;
            }
        }
        & div {
            width: 80px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}







/* convertPoint.html */
.convertPoint_container {
    position: absolute;
    top: 43%;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 53%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4.3rem;
}
.convertPoint {
    display: flex;flex-direction: column;
    justify-content: flex-start;align-items: center;
    width: 57%;
    height: 100%;
    padding-top: 6px;
}
.convertPoint_sub_container {
    position: relative;

    & p {
        font-size: 0.8rem;
        color: $text-color-yellow;
        text-align: center;
    }
}
.convertPoint_input_container {
    display: flex;
    height: 100%;
    padding-top: 1.5rem;

}
.convertPoint_form {
    display: flex;flex-direction: column;
    justify-content: space-between;align-items: center;
}
.convertPoint_form_mid {
    display: flex;justify-content: space-between;align-items: center;
}
.convertPoint_form_left {
    & div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & label {
            display: block;
            color: $text-color-white;
            font-size: 0.8rem;
            margin-bottom: unset;
        }
        & input {
            font-size: 0.9rem;
            width: 90px;
            text-align: right;
            color: $text-color-white;
            margin: 0 12px;
            padding: unset;
            
            &:disabled {
                background-color: #4d4d4d;
            }
        }
    }

    & div:nth-child(2){
        & label {
            color: $text-color-yellow;
        }
        & input {
            color: $text-color-yellow;
        }
    }
}
.convertPoint_form_right {
    display: flex; flex-direction: column;
    justify-content: center;
    & button {
        position: relative;
        width: 40px;height: 40px;
        margin: 6px 0;
        padding: unset;
        border: unset;


        & img {
            width: 100%;height: 100%;
            object-fit: contain;
        }
    }
}
.convertPoint_btn_container {
    margin-bottom: 0.8rem;
    width: 80%;
    
    & button {
        padding: unset;
        border: unset;
    }
}