@import './_variables.scss';

/* memberProfile.html */

.memberProfile_bgTitle {
    position : absolute;
    top      : 1%;
    left     : 50%;
    transform: translateX(-50%);
    width    : 45%;
}

.member_container {
    position       : absolute;
    top            : 0;
    left           : 0;
    z-index        : 1000;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : center;
    padding-top    : 5rem;

    &>div {
        width  : 73%;
        height : 94%;
        padding: 1rem 0.5rem 0;
    }
}

.member_navbar_list {
    display        : flex;
    justify-content: center;
    width          : 100%;

    & li {
        position: relative;
    }
    & li:hover {
        cursor       : pointer;
        border-radius: 5px;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 75%;
            height: 0;
            box-shadow: 0px 0px 9px 7px rgb(255, 238, 131);
            opacity: 0.4;
            mix-blend-mode: screen;
        }
    }

    & li.active:hover {
        cursor       : unset;
        border       : unset;
        border-radius: unset;

        &::after {
            content       : "";
            display: none;
        }
    }
}

.member_content_list_container {
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items    : flex-start;
    overflow       : hidden;

    &>li {
        width      : 100%;
        height     : 95%;
        padding-top: 1rem;
        display    : flex;
        transform  : translateX(-100%);
        flex-direction: column;
        transition: all 0.3s ease;

    }
}

.memberProfile_content {
    width         : 257.75px;
    height        : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 0 1rem 0;
}

.memberProfile_top {
    display        : flex;
    width          : 100%;
    justify-content: center;
    margin-bottom  : 0.8rem;
}

.memberProfile_top_rack {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 40px;

    & img {
        width        : 100%;
        height       : 100%;
        -o-object-fit: contain;
        object-fit   : contain;
    }

    & figcaption {
        color      : $text-color-black;
        font-size  : 0.9rem;
        font-weight: 600;
        margin-top : 8px;
    }
}

.memberProfile_top_content {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items    : center;
    padding-left   : 0.8rem;
}

.memberProfile_top_name {
    height         : 50%;
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    &>h2 {
        width      : 48%;
        font-size  : 0.9rem;
        font-weight: 600;
        color      : $text-color-black;
    }

    &>div {
        margin-left: 0.5rem;

        & p {
            font-size  : 0.9rem;
            font-weight: 600;
            color      : $text-color-black;
            word-wrap  : break-word;
            width: 86px;
        }
    }
}

.memberProfile_top_icon {
    display        : flex;
    width          : 100%;
    height         : auto;
    align-items    : center;
    justify-content: flex-start;

    &>button {
        position: relative;
        height  : 24px;
        padding: unset;
        &:hover {
            cursor: pointer;

            &::after {
                content       : "";
                position      : absolute;
                top           : 50%;
                left          : 50%;
                transform     : translateX(-50%);
                display       : block;
                width         : 51%;
                height        : 0;
                box-shadow    : 0px 0px 20px 11px rgb(255, 238, 131);
                opacity       : 0.4;
                mix-blend-mode: screen;
            }
        }

        & img {
            width     : 100%;
            height    : 100%;
            object-fit: contain;
        }
    }
}

.memberProfile_bottom {
    width: 100%;

    &>div {
        &>label {
            display  : block;
            position : absolute;
            top      : 50%;
            left     : 5%;
            transform: translateY(-50%);
            color    : white;
            font-size: 0.9rem;
        }

        &>input {
            background-color: #4d4d4d;
            color           : white;
            border          : unset;
            height          : 1.7rem;
            font-size       : 0.9rem;
            text-align      : right;

            &:disabled {
                background-color: #4d4d4d;
            }
        }
    }
}

/* 遊戲紀錄列表 */

.gameRecord_top_input {
    display        : flex;
    justify-content: space-between;
    align-items: center;
    width          : 257.75px;

    &>p {
        color: rgb(223 57 47);
        margin-top: 5px;
    }
}

.gameRecord_navBar_list {
    display: flex;
    width  : 100%;

    &>li {
        position: relative;
        width : calc(100% / 4);
        margin: 0.8rem 2px;
        
        & > button {
            padding: unset;
        }

            &:hover {
                cursor: pointer;
                
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    width: 60%;
                    height: 0;
                    box-shadow: 0px 0px 11px 11px rgb(255, 238, 131);
                    opacity: 0.4;
                    mix-blend-mode: screen;
                }
            }
        

    }
}

.gameRecord_table_container {
    max-height: 285.56px;
    overflow  : hidden;
}

.gameRecord_table {
    &>thead {
        width: 100%;
        &>tr {
            width: 100%;
            position: relative;
            color     : $text-color-white;
            text-align: center;
            font-size : 0.9rem;

            &>th {
                padding: 5px 4px;
            }
            &::after {
                content         : '';
                position        : absolute;
                top             : 50%;
                left            : 50%;
                z-index         : -1;
                transform       : translate(-50%, -50%);
                width           : 100%;
                height          : 100%;
                background-image: url(../img/05_Member/img_header.png);
                border-radius   : 5px 5px 0 0;
                background-size : contain;
            }
        }

    }

    &>tbody {
        &>tr {
            color     : $text-color-black;
            text-align: center;
            font-size : 0.8rem;

            &>td {
                border          : 1px solid rgba(0, 0, 0, 0.3);
                padding         : 5px 4px;
                background-color: $text-color-white;

                &:nth-child(1) {
                    color: $text-color-blue;
                }

                &:nth-child(2) {
                    color: $text-color-black;
                }

                &:nth-child(3) {
                    color: $text-color-green;
                }

                &:nth-child(4) {
                    color: $text-color-red;
                }
            }

        }
    }
}

.gameRecord_pagination {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);

    &>ul {
        display        : flex;
        justify-content: center;

        &>li {
            &.disabled>a {
                background-color: rgba(0, 0, 0, 0.6);
                color           : $text-color-white;
                border-radius   : 5px;
                border          : 1px solid $text-color-black;
            }

            &.active>a {
                background-color: rgba(0, 0, 0, 0.6);
                color           : $text-color-white;
            }

            &>a {
                width          : 1.2rem;
                height         : 1.2rem;
                padding        : unset;
                text-align     : center;
                line-height    : 1.2rem;
                font-size      : 0.9rem;
                color          : $text-color-black;
                margin         : 0 4px;
                border-radius  : 5px;
                border         : 1px solid $text-color-black;
                border-collapse: collapse;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                    color           : $text-color-black;

                }
            }
        }
    }
}




/* changePassword.html */
.changePassword_bottom {
    width: 100%;

    &>form {
        &>div {
            &>label {
                display  : block;
                position : absolute;
                top      : 50%;
                left     : 5%;
                transform: translateY(-50%);
                color    : white;
                font-size: 0.9rem;
            }

            &>input {
                background-color: #4d4d4d;
                color           : white;
                border          : unset;
                height          : 1.7rem;
                font-size       : 0.9rem;
                text-align      : right;

                &:disabled {
                    background-color: #4d4d4d;
                }
            }
        }

        &>p {
            margin-top : 1rem;
            color      : $text-color-black;
            opacity    : 0.5;
            font-size  : 0.8rem;
            font-weight: 600;
            text-align : center;
        }
    }
}

.changePassword_content {
    width         : 257.75px;
    height        : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 0 1rem 0;
}

.changePassword_top_icon {
    visibility: hidden;
}

.changePassword_btn_container {
    position  : relative;
    width     : 100%;
    margin-top: 1.5rem;

    &>button {
        width: 40%;
    }
}

[v-cloak] {
    display: none;
}