@import './_variables.scss';

/* memberProfile.html */

.memberProfile_bgTitle {
    position: absolute;top: 1%;left: 50%;
    transform: translateX(-50%);
    width: 45%;
}
.member_container {
    position: absolute;top: 0;left: 0;
    z-index: 1000;
    width: 100%;height: 100%;
    display: flex;flex-direction: column;
    justify-content: flex-start;align-items: center;
    padding-top: 5rem;

    & > div {
        width: 73%;
        height: 94%;
        padding: 1rem 0.5rem 0;
    }
}

.member_navbar_list {
    display: flex;
    justify-content: center;
    width: 100%;

    & li:hover {
        cursor: pointer;
        border: 1px solid black;
        border-radius: 5px;
    }

    & li.active:hover {
        cursor: unset;
        border:unset;
        border-radius: unset;
    }
}

.member_content {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0;
}

.memberProfile_top {
    display: flex;
    width: 100%;
    justify-content: center;
}
.memberProfile_top_rack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;

    & img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
    & figcaption {
        color: $text-color-black;
        font-size: 0.9rem;
        font-weight: 600;
        margin-top: 8px;
    }
}

.memberProfile_top_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0.8rem;
}
.memberProfile_top_name {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h2 {
        width: 48%;
        font-size: 0.9rem;
        font-weight: 600;
        color: $text-color-black;
    }
    & > div {
        margin-left: 0.5rem;
        &  p {
            font-size: 0.9rem;
            font-weight: 600;
            color: $text-color-black;
            word-wrap: break-word;
        }
    }
}
.memberProfile_top_icon {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start;

    & > figure {
        position: relative;
        height: 24px;

        &:hover {
            cursor: pointer;
            
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 51%;
                height: 0;
                box-shadow: 0px 0px 20px 11px rgb(255, 238, 131);
                opacity: 0.4;
                mix-blend-mode: screen;
            }
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

[v-cloak] { display: none; }