@import './_variables.scss';

.menu_container {
    position: absolute; top: 15px; left: 0;
    z-index: 1000;
    width: 100%;height: 94.5%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.meun_top {
    display: flex;flex-direction: column;
    justify-content: space-between;align-items: center;
    width: 100%;height: auto;
    margin-top: 8px;
}
.menu_member_container {
    place-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    z-index: -1;

    & img {
        width: 64%;height: 100%;
        object-fit: contain;
    }
}
.menu_member_content_container {
    position: absolute;top: 46%;left: 50%;
    transform: translateX(-50%);
    display: flex;justify-content: space-between;
    width: 55%;
    height: 49%;
}
.menu_member_content_rack {
    display: flex;
    flex-direction:column;align-items: center;
    width: 40px;height: 40px;

    & img {
        width: 100%;height: 100%;object-fit: contain;
    }
    & figcaption {
        color: $text-color-white;
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: 8px;
    }
}
.menu_member_content {
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    width: 73%;height: 100%;
}
.menu_member_content_name {
    width: 100%;height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h2 {
        width: 48%;
        font-size: 0.9rem;
        font-weight: 600;
        color: $text-color-white;
    }
    & div{
        width: 58%;

        & p {
            font-size: 0.9rem;
            color: $text-color-white;
            word-wrap: break-word;
        }
    }
}
.menu_member_content_money {
    display: flex;width: 100%;height: auto;
    align-items: center;
    justify-content: flex-start;

    & p {
        width: 54%;
        color:$text-color-yellow;
        font-size: 0.9rem;
        word-wrap: break-word;
        margin: 0 12px;
    }
}
.menu_member_content_money_icon {
    width: 24px;height: 24px;

    & img {
        width: 100%;height: 100%;
        object-fit: contain;
    }
}
.menu_member_content_money_btn {
    position: relative;
    width: 16px;height: 16px;
    & img {
        width: 100%;height: 100%;object-fit: contain;
    }
    & :hover{
        cursor: pointer;
    }
    &:hover::after {
        content: '';
        position: absolute;top: 54%;left: 50%;
        display: block;
        width: 0;height: 0;
        box-shadow: 0px 0px 10px 9px rgb(255, 238, 131);
        opacity: .4;
        mix-blend-mode: screen;
    }
}
.menu_member_btn {
    place-items: center;
    width: 100%;
    height: auto;

    & a {
        width: 43%;
        
        & img {
            width: 100%;height: 100%;object-fit: contain;
        }
    }
}

// menu_bottom

.menu_bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 58%;
}
.menu_bottom_list_container {
    display: flex;flex-direction: column;
    justify-content: flex-start;align-items: center;

    & li {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}

.menu_game_btn_container {
    width: 58%;
    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &:hover{
        cursor: pointer;
    }

}
.menu_game_btn_icon {
    position: absolute;top: 33%;right:3.5%;    
    width: 24px;
    transition: all 0.8s ease;

    &.active {
        transform: translateY(-4px) rotate3d(1, 0, 0, 180deg);
        transition: all 0.8s ease;

    }
}
.menu_game_list_container {
    width: 100%;
    margin-top: 6px;
    max-height: 0;
    padding: 0 0.8rem;
    overflow-y: scroll;
    background-color: rgba(#000000,0.5);
    transition: all 0.8s ease;

    &.active {
        max-height: 1440px;
        transition: all 1.5s ease;
    }
}
.menu_game_list {
    display: flex;justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0.8rem 0;
    & li {
        position: relative;
        width: calc(100% / 4);
        padding: 2px;
        
        & img {
            width: 100%;height: 100%;
            object-fit: contain;
        }

        &:hover::after {
            content: '';
            position: absolute;top: 54%;left: 50%;
            display: block;
            width: 0;height: 0;
            box-shadow: 0px 0px 16px 21px rgb(255, 238, 131);
            opacity: .4;
            mix-blend-mode: screen;
        }
    }
}